{{ define "main" }}
	<main>
        {{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1>{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
        
        {{ range .Sections }}
        <div class="subsection-summary">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ .Summary }}
        </div>
        {{ end }}

        {{ if .RegularPages }}
        <ul>
		    {{/* range .Paginator.Pages */}}
		    {{ range .RegularPages }}
		    <li>
		        <div class="post-title">
                {{ if eq $listtitle "Blog" }}
				    {{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}">{{.Title }}</a>
				{{ else }}
				    <a href="{{ .RelPermalink }}">{{.Title }}</a>
				{{ end }}
		        </div>
		    </li>
		    {{ end }}
		</ul>
        {{ end }}
		{{/* partial "pagination.html" . */}}
	</main>
{{ end }}
